.THIS .slds-lookup__search-input{
    width:100%;
  /*  margin-left:1143px; */
    margin-top:0px;
}
.THIS .slds-card__footer{
   
}
.THIS .cls1 svg{
    fill : rgb(110,138,174);
}
.THIS .image path{
    fill : rgb(110,138,174);
}