.THIS .slds-border_bottom{
   box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
}
.THIS .GreenDot{
	height: 10px;
	width: 10px;
    background-color: #008000;
    border-radius: 50%;
    display: inline-block;
}
.THIS .RedDot{
	height: 10px;
	width: 10px;
    background-color: #FF0000;
    border-radius: 50%;
    display: inline-block;
}
.THIS .BlackDot{
	height: 10px;
	width: 10px;
    background-color: #000000;
    border-radius: 50%;
    display: inline-block;
}
.THIS .cBox{
    display: inline-block !important;
    margin-right: 3px;
}
.THIS .flexclass{
    display: flex;
}
.THIS .slds-card__body footer {
	clear:both;
}
.THIS a:hover svg{
    fill: #1e63be !important;
}
.THIS .slds-dropdown-trigger_click{
   max-height: calc(((0.8125rem * 1.5) + 1rem) * 3) !important;
}
.THIS.slds-spinner_container {  
  z-index: 3 !important;
  position: fixed;   
}
.THIS .spinner-text{
	margin-top: 41px;
    position: absolute;
}